@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.left-content, .right-content {
    flex-basis: 50%;
}

.left-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
}

.card {
    width: 100%;
    max-width: 300px;
    background-color: #49bef0;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-content {
    width: 50%;
    text-align: center;
    color: rgb(232, 214, 214);
    position: fixed;
    top: 100px;
    right: 10px;
}

.right-content img {
    margin: 2rem;
    height: 170px;
    object-fit: cover;
}

.right-content h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.abilities {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.abilities .group {
    background-color: lightcoral;
    color: white;
    padding: 4px;
    font-size: 15px;
    border-radius: 8px;
}

.base-stats {
    margin-top: 2rem;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group button {
    outline: none;
    border: none;
    width: 90px;
    height: 50px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: lightgreen;
    border-radius: 8px;
}

